<!DOCTYPE html>
<html>
  <head>
    <title>TerryCrews</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <% if current_user %>
        <%= logout %>
      <% else %>
        <%= login %>
      <% end %>

    </header>
    <%= yield %>
  </body>
</html>
